<h2 class="text-2xl font-bold">Configurações</h2>
<div class="mt-9 relative">
	<div class="flex justify-between">
		<app-avatar
			size="10"
			[src]="userInfo.avatar"
		></app-avatar>
		<div class="relative">
			<button (click)="handleAvatarMenu()" class="border-2 rounded-sm py-1.5 px-3 flex items-center gap-1 hover:bg-zinc-200 transition">
				<i class="pi pi-pencil text-sm"></i>	
				<span>Editar</span>
			</button>
			<div *ngIf="showAvatarMenu" class="absolute right-0">
				<app-menu>
					<li class="hover:bg-zinc-200 py-2 cursor-pointer" onclick="document.getElementById('myFileInput').click()">
						<input accept="image/png, image/jpeg" (change)="onFileChange($event)" type="file" id="myFileInput"/>
						<input type="button" value="Alterar" class="ml-6 cursor-pointer"/>
					</li>
					<li class="hover:bg-zinc-200 py-2 cursor-pointer">
						<span class="ml-6">Remover</span>
					</li>
				</app-menu>
			</div>
		</div>
	</div>
  <div class="flex gap-36 mb-5 border-b-2 py-2 items-center relative mt-10">
    <span>Nome</span>
    <span>{{userInfo.name}}</span>
    <i (click)="openModal('name')" class="pi pi-pencil hover:bg-zinc-200 hover:text-bgblue p-2 rounded-full transition duration-300 cursor-pointer absolute right-40"></i>
  </div>
  <div class="flex gap-36 relative">
    <span>E-mail</span>
    <span>{{userInfo.email}}</span>
    <i (click)="openModal('email')" class="pi pi-pencil hover:bg-zinc-200 hover:text-bgblue p-2 rounded-full transition duration-300 cursor-pointer absolute right-40"></i>
  </div>
</div>

<app-change-userinfo-modal
  *ngIf="showModal"
  [editType]="modalEditType"
  (closeModalEvent)="closeModal()"
  @fadeIn @fadeOut
></app-change-userinfo-modal>