<h2 class="text-2xl font-bold">Configurações</h2>
<div class="pl-20 mt-6 relative">
  <div class="flex gap-36 mb-5 border-b-2 py-2 items-center relative">
    <span>Nome</span>
    <span>{{userInfo.name}}</span>
    <i (click)="openModal('name')" class="pi pi-pencil hover:bg-zinc-200 hover:text-bgblue p-2 rounded-full transition duration-300 cursor-pointer absolute right-40"></i>
  </div>
  <div class="flex gap-36 relative">
    <span>E-mail</span>
    <span>{{userInfo.email}}</span>
    <i (click)="openModal('email')" class="pi pi-pencil hover:bg-zinc-200 hover:text-bgblue p-2 rounded-full transition duration-300 cursor-pointer absolute right-40"></i>
  </div>
</div>

<app-change-userinfo-modal
  *ngIf="showModal"
  [editType]="modalEditType"
  (closeModalEvent)="closeModal()"
  @fadeIn @fadeOut
></app-change-userinfo-modal>