input {
    border-color: #C7CBCE;
    outline: none;
    color: #2D383C;
}

input:focus {
    border-color: #FEC000;
}

.btn {
    background-color: #4831D4;
    letter-spacing: 1.25px;
    font-size: 15px;
}

.btn:disabled {
    background-color: rgb(173, 211, 216);
    color: gray;
}