<div class="bg-zinc-100 shadow-md w-40 block transition z-50">
  <ul class="py-1.5">
		<li>
			<a 
				routerLink="/dashboard/new"
				class="py-2 bg-textyellow flex sm:hidden items-center rounded-sm hover:bg-yellow-100 transition">
				<i class="pi pi-plus text-sm ml-2"></i>
				<span class="font-semibold ml-2">Nova foto</span>
			</a>
		</li>
    <li class="hover:bg-zinc-200 py-2">
      <i class="pi pi-user ml-2"></i>
      <a routerLink="/profile" class="ml-2">Meu Perfil</a>
    </li>
    <li class="hover:bg-zinc-200 py-2">
      <i class="pi pi-cog ml-2"></i>
      <a routerLink="/profile/settings" class="ml-2">Configurações</a>
    </li>
    <li (click)="logoutEvent.emit()" class="hover:bg-zinc-200 py-2 mt-3 cursor-pointer">
      <i class="pi pi-sign-out ml-2"></i>
      <span class="ml-2">Sair</span>
    </li>
  </ul>
</div>
