.card {
    background-color: #eeeef6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.1s ease-out;
}

.card:hover {
    transform: scale(1.04);
}

img {
    width: 426px;
    height: 250px;
}