<app-header></app-header>
<app-photo-grid>
	<div *ngFor="let picture of pictures" class="cursor-pointer relative mb-6 lg:mb-0" (mouseenter)="picture.showOverlay = true" (mouseleave)="picture.showOverlay = false">
		<div *ngIf="picture.showOverlay" class="absolute bg-black w-full inset-0 bg-opacity-20 flex flex-col justify-between py-3 px-5" @fadeIn @fadeOut>
			<div class="flex justify-end items-center gap-x-2">
				<span class="text-white font-medium">{{picture.likes}}</span>
			
				<i (click)="handleLike(picture.didUserLiked, picture.id)" *ngIf="picture.shouldHeartBeFilled; else userDidntLikedYet" class="pi pi-heart-fill text-red-500 font-medium text-lg hover:text-red-700"></i>
				<ng-template #userDidntLikedYet>
					<i (click)="handleLike(picture.didUserLiked, picture.id)" (click)="picture.shouldHeartBeFilled = true" class="pi pi-heart text-white font-medium text-lg hover:text-red-500"></i>
				</ng-template>

			</div>
			<div routerLink="picture/{{picture.id}}" class="flex-1"></div>
			<div class="flex justify-between">
				<span class="text-white font-bold">{{picture.title}}</span>
				<div class="flex items-center gap-1.5 overflow-hidden">
					<app-avatar
						size="1.6"
						[src]="picture.user.profile_img_url"
					></app-avatar>
					<span class="text-white">{{picture.owner_name}}</span>
				</div>
			</div>
		</div>
		<app-card-photo
			[url]="picture.url"
			[description]="picture.description"
			[username]="picture.owner_name"
		></app-card-photo>
	</div>
</app-photo-grid>