<div  
	(click)="handleCommentClick($event)"
	class="flex flex-col py-3 px-5 rounded-sm bg-zinc-500 bg-opacity-10 z-0" 
>
	<div class="flex justify-between">
		<div class="flex gap-5 items-center">
			<span class="font-semibold text-zinc-800">{{author}}</span>
			<span class="text-xs text-zinc-500">{{date | date:"short"}}</span>
		</div>
		<div (click)="handleMenu()" class="rounded-full px-1.5 py-0.5 hover:bg-zinc-300 cursor-pointer">
			<i #toggleButton class="pi pi-ellipsis-h"></i>    
		</div>
	</div>
	<p class="text-sm text-zinc-800">{{text}}</p>
	
	<div *ngIf="showMenu" class="absolute right-12" #menu>
		<app-menu>
			<li (click)="emiteDeleteCommentEvent()" class="hover:bg-zinc-200 py-2 cursor-pointer">
				<i class="pi pi-trash ml-2"></i>
				<span class="ml-2">Excluir</span>
			</li>
			<li (click)="emitEditCommentEvent()" class="hover:bg-zinc-200 py-2 cursor-pointer">
				<i class="pi pi-pencil ml-2"></i>
				<span class="ml-2">Editar</span>
			</li>
		</app-menu>
	</div>
</div>