<app-header></app-header>
<div class="max-w-7xl block my-24 mx-auto border-2 shadow-xl">
	<div class="flex flex-wrap gap-12 w-full">
		<div *ngIf="picture" class="p-4">
			<h2 class="font-display font-semibold tracking-wide text-3xl border-b-2 pb-3 mb-4">{{picture.title}}</h2>
			<div class="flex flex-col justify-center max-w-2xl">
				<div class="flex flex-col mb-6">
					<app-card-photo      
						[url]="picture.url"
						[id]="picture.id"
					></app-card-photo>
					<small class="text-sm font-medium text-zinc-600 mb-4">Curtido por {{picture.likes}} pessoas</small>
					<div class="flex justify-between items-center">
						<div (click)="handleLike(picture.shouldHeartBeFilled, picture.id)" class="flex items-center gap-x-2 group cursor-pointer">    

							<i *ngIf="picture.shouldHeartBeFilled; else userDidntLikedYet" class="pi pi-heart-fill text-xl font-semibold text-red-500"></i>
							<ng-template #userDidntLikedYet>
								<i class="pi pi-heart text-xl font-semibold text-red-zinc-800 group-hover:text-red-500"></i>
							</ng-template>

							<span class="font-semibold text-lg text-zinc-800 group-hover:text-red-500">Curtir</span>
						</div>
						<div class="flex gap-x-3">
							<svg (click)="saveImage()" class="text-zinc-800 hover:text-bgblue transition cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path fill="currentColor" d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg>
						</div>
					</div>
				</div>
				<div>
					<div class="flex items-center gap-3">
						<i class="pi pi-user bg-blue-400 rounded-full p-2"></i>
						<span class="font-bold text-lg">{{picture.owner_name}}</span>
						<span class="text-xs text-zinc-500">{{picture.createdAt | date}}</span>
					</div>
					<p class="mt-4 text-zinc-700">{{picture.description}}</p>
				</div>
			</div>
		</div>
		<div *ngIf="picture?.allowComments; else commentsNotAllowed" class="flex-1">
			<app-comments-container
				[commentList$]="commentList$"
			></app-comments-container>
			<form (ngSubmit)="sendComment()" class="mt-4 flex gap-2 w-full px-5">
				<input 
					[(ngModel)]="commentInput"
					type="text" 
					placeholder="Digite seu comentario" 
					class="border-2 h-11 rounded-sm font-normal text-base indent-4 bg-zinc-100 transition duration-300 focus:border-bgblue outline-none w-full"
					name="comment"
				>   
				<button class="bg-bgblue px-4 rounded-sm font-medium text-white hover:bg-indigo-800 transition">Enviar</button>
			</form>
		</div>
	</div>
</div>

<ng-template #commentsNotAllowed>
	<div class="p-5 flex-1">
		<span class="mt-2 block text-center font-medium text-zinc-800">Usuário desativou os comentários.</span>
	</div>
</ng-template>