<div class="body-background h-screen">
    <h1 class="text-6xl text-white font-medium  font-display text-center relative top-32">
        Explore customizações de diversos carros
    </h1>
    <div class="flex flex-col items-center justify-center bg-zinc-100 max-w-fit mx-auto p-12 relative top-56 rounded-sm shadow-lg shadow-black/60">
        <div class="flex gap-1">
            <i class="pi pi-cog text-bgblue relative top-2.5 text-2xl"></i>
            <h2 class="font-display text-4xl font-bold text-bgblue ">stanced</h2>
        </div>
        <router-outlet class="mt-7"></router-outlet>
    </div>
</div>