<div class="body-background h-screen">
    <h1 class="text-4xl font-medium text-white text-center pt-16">
        Explore customizações de diversos carros
    </h1>
    <div class="flex flex-col items-center justify-center bg-zinc-100 max-w-fit mx-auto mt-12 rounded-sm shadow-lg shadow-black/60">
        <div class="flex items-center gap-1 w-full px-4 py-2.5">
            <i class="pi pi-cog text-bgblue text-lg relative top-0.5"></i>
            <h2 class="font-display font-bold text-bgblue text-lg">stanced</h2>
        </div>
				<div class="p-12">
					<router-outlet class="mt-7"></router-outlet>
				</div>
    </div>
</div>