<h2 class="text-2xl font-bold mb-6">Suas fotos salvas</h2>
<div *ngIf="userSavedImages$ | async as savedPictures" class="flex flex-col items-center gap-4">
  <div *ngFor="let picture of savedPictures" class="relative group overflow-hidden">
		<div class="flex justify-between items-center md:hidden">
			<div>
				<span class="font-medium text-lg">{{picture.title}}</span>
				<div class="flex items-center gap-2 mb-2">
					<small>{{picture.owner_name}}</small>
					<small class="block text-xs text-zinc-500">{{picture.createdAt | date }}</small>
				</div>
			</div>
			<button class="p-2 flex items-center gap-1">
				<span>Remover</span>
				<i (click)="removeFromSaved(picture)" class="pi pi-trash text-lg"></i>
			</button>
		</div>
		<app-photo
			[src]="picture.url"
			[id]="picture.id"
			(deleteImageEvent)="removeFromSaved(picture)"
		></app-photo>
  </div>
</div>