<form (ngSubmit)="fazerLogin()" class="w-96" [formGroup]="loginForm">
    <h1 class="mb-2 text-center text-2xl font-semibold text-zinc-800">Bem vindo de volta!</h1>

		<app-auth-error
			*ngIf="showError"
			[message]="errorMessage"
		></app-auth-error>
		
    <div class="flex flex-col mb-6">
        <label for="email" class="mb-2 text-zinc-800">E-mail</label>
        <input 
            type="email" 
            formControlName="email" 
            class="border-2 h-12 rounded-sm font-normal text-base indent-4 bg-zinc-100 transition duration-300 focus:border-bgblue"
        />
        <app-input-fill-error 
            message="email em formato inválido"
            *ngIf="loginForm.get('email')?.errors?.['email']"
        ></app-input-fill-error>
        <app-input-fill-error 
            message="email é obrigatório"
            *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
        ></app-input-fill-error>
    </div>
    <div class="flex flex-col">
        <label for="password" class="mb-2 text-zinc-800">Senha</label>
        <input 
            type="password" 
            formControlName="password" 
            class="border-2 h-12 rounded-sm font-normal text-base indent-4 bg-zinc-100 transition duration-300 focus:border-bgblue"/>
        <app-input-fill-error
            message="senha deve ter no minimo 6 caracteres"
            *ngIf="loginForm.get('password')?.errors?.['minlength']"
        ></app-input-fill-error>
        <app-input-fill-error
            message="senha é obrigatória"
            *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
        ></app-input-fill-error>
        <div class="flex justify-end mt-2">
            <small class="text-zinc-500 hover:text-zinc-800 underline underline-offset-2 transition duration-300">esqueceu a senha?</small>
        </div>
    </div>
    <button 
        class="mt-5 min-w-full h-12 rounded-sm font-bold disabled:text-zinc-800 bg-bgblue disabled:bg-zinc-300 text-textyellow transition-all hover:bg-indigo-800 duration-300" 
        [disabled]="loginForm.invalid" 
        type="submit">
        Entrar
    </button>
    <a routerLink="register" class="text-sm font-normal hover:text-bgblue transition mt-0.5">
        Ainda não tem uma conta?
    </a>
</form>