.conteiner {
    width: 80rem;
}

input {
    background-color: #F5F5F5;
    border-color: #C7CBCE;
    outline: none;
    color: #2D383C;
}

input:focus {
    border-color: #CCF381;
}

.btn {
    background-color: #4831D4;
    letter-spacing: 1.25px;
    font-size: 15px;
}